.ABH {
    color: white;
}

.AB_intro  h1 {
    font-family: var(--font-base);
    color: white(171, 222, 31);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 46px;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 80px;
}

.AB_intro p {
    display: block;
    margin: auto;
    color: white;
    padding-left: 745px;
    padding-bottom: 40px;
}

.AB_button {
    background-color: rgb(171, 222, 31);
    color: var(--color-black);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 1rem 2rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

.AB_present {
    background-color: var(--color-black);
}

.AB_present h3 {
    font-family: var(--font-base);
    color: white(171, 222, 31);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 26px;
    text-align: center;
    display: block;
    margin: auto;
}

.AB_present p {
    display: block;
    margin: auto;
    color: white;
    padding-left: 600px;
    flex: 50%;
    font-size: 18px;
    padding-bottom: 10px;
}

.AB_present img {
    padding-left: 500px;
    margin-top: 80px;
}

.AB_gl img {
    position: relative;
    padding-left: 480px;
    margin-top: 30px;
}

.AB_gl h1 {
    padding-left: 600px;
}

.AB_gl p {
    padding-left: 500px;
}

.AB_arr h3 {
    font-family: var(--font-base);
    color: white(171, 222, 31);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 46px;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 80px;
}

.AB_arr img {
    padding-left: 800px;
}